*.tflite
*.onnx
*.pb
*.xml
*.bin
*.mapping
*.mlmodel
model.json
variables.data*
variables.index
*.mp4
*.blob

.venv
.vscode
.idea

raw_data
**.egg-info

preview.jpg
landmarks
augmented_images

images
*.csv
*.pkl

**/__pycache__/**