AppKit==0.2.8
atheris==2.0.7
azure_storage==0.37.0
boto3==1.20.26
botocore==1.23.26
click==7.1.2
colorama==0.4.4
coloredlogs==15.0.1
ConfigParser==5.2.0
ConfigSpace==0.4.20
Cython==0.29.26
depthai==2.13.3.0
Dialog==0.2.0
dl==0.1.0
fastai==2.5.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
google_api_python_client==2.33.0
HTMLParser==0.0.2
hydra-core==1.1.1
hypothesis==6.32.1
icecream==2.1.1
idna==2.10
importlib_metadata==4.10.0
importlib_resources==5.4.0
ipaddr==2.2.0
ipykernel==6.6.0
ipython==7.30.1
isoduration==20.11.0
Jinja2==2.11.3
joblib==1.1.0
jsonpointer==2.2
keras==2.7.0
keyring==23.4.0
lightgbm==3.3.1
loguru==0.5.3
matplotlib==3.5.1
mediapipe==0.8.9.1
megengine==1.7.0
mock==4.0.3
monotonic==1.6
mypy_extensions==0.4.3
nbconvert==6.3.0
notebook==6.4.6
numpy==1.19.5
oauth2client==4.1.3
omegaconf==2.1.1
openvino==2021.4.2
ordereddict==1.1
pandas==1.3.5
Pillow==8.4.0
pocketsphinx==0.1.15
protobuf==3.19.1
psutil==5.8.0
pyaudio==0.2.11
PyGObject==3.38.0
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyperf==2.3.0
pyrsistent==0.18.0
pytorch_lightning==1.5.7
railroad==0.5.0
repr==0.3.1
requests==2.25.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
scandir==1.10.0
scikit_learn==1.0.2
simplejson==3.17.6
tensorboard==2.7.0
tensorboardX==2.4.1
tensorflow==2.7.0
tflite_runtime==2.7.0
torch==1.10.1
tqdm==4.62.3
typing_extensions==3.7.4.3
unittest2==1.1.0
uri_template==1.1.0
urllib3==1.26.5
vincent==0.4.4
webcolors==1.11.1
wincertstore==0.2.1
xgboost==1.5.1
xmlrpclib==1.0.1
