brotli==1.0.9
clearml~=1.1.5rc6
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.26
depthai==2.14.0.0
dl==0.1.0
HTMLParser==0.0.2
imgaug==0.4.0
importlib_metadata==4.10.0
ipaddr==2.2.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
matplotlib==3.5.1
mediapipe==0.8.9.1
mock==4.0.3
mypy_extensions==0.4.3
openvino==2021.4.2
ordereddict==1.1
pandas==1.3.5
playsound==1.3.0
protobuf==3.19.3
pyOpenSSL==21.0.0
scikit_learn==1.0.2
seaborn==0.11.2
simplejson==3.17.6
tensorflow==2.7.0
tflite_runtime==2.7.0
unicodedata2==14.0.0
wincertstore==0.2
zipp==3.7.0
ipykernel==6.6.1
open3d==0.14.1
PySimpleGUI
opencv-python~=4.5.5.62
argparse~=1.4.0
setuptools~=47.1.0
numpy~=1.19.5
scikit-learn~=1.0.2
matplotlib
opencv-python
paramiko
sklearn
clearml
imgaug
depthai
open3d-python